@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
  background-color: #292929;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}

.header {
  background-color: #ffcb05;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.dex {
  color: #d62828;
}

.search-bar {
  margin-top: 10px;
}

.search-bar input {
  width: 80%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-content {
  text-align: center;
  color: #fff;
}

.loading-icon {
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

.loading-text {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
}

.fullscreen-overlay.d-none {
  display: none;
}

.load-more-section {
  text-align: center;
  margin: 20px 0;
}

.load-more-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #d62828;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more-button:hover {
  background-color: #b71c1c;
}

#statsChart {
  max-width: 100%;
  height: auto;
}

.d-none {
  display: none;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
